body{
    margin: 0;
    padding: 0;
}
.header{
    height: 8vh;
    background-color: rgb(23, 23, 94);
}
.main{
    height: 80vh;
    background-color: rgb(23, 23, 94);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* text-align: center;
    line-height: 80vh; */
    
}
.footer{
    height: 12vh;
    background-color: rgb(23, 23, 94);
    color: yellow;
}
.headPortrait{
    width: 58px;
    height: 58px;
    border-radius: 50px;
    position: relative;
    left: 100px;
    top: 100px;
    animation:myfirst  5s ;
    transform: scale(3,3);

    
}
.aaa{
    position: relative;
    animation: mysecond 3s forwards;

}
.bbb{
    position: relative;
    top: 100px;
    animation: mythird  20s forwards;
    color: red;
    font-size: 70px;
  
}

@keyframes myfirst{
    
    0%   { left:-308px; top:500px;transform: rotate(360deg);}

	100% {left:100px; top:100px;transform: rotate(-360deg);}
    
}
@keyframes mysecond{
    0%{opacity: 0;transform: rotate(0deg);}
    25%{opacity: .1;}
    50%{opacity: 1;transform: rotate(360deg);}
    100%{opacity: 0; transform: rotate(360deg);}
}
@keyframes mythird{
    
    0% { left:-700px; top:1000px;}
    50%{left: -700px; top: 0px;}
	100% {left:-700px; top:0px; }
    
}
.btn{
    display: flex;
    align-self: flex-end;
}
.dropScene{
    animation: myfifth 15s forwards;
    position: relative;
}
@keyframes myfifth{
    0%{transform: translateY(0);}
    100%{transform: translateY(-800px);}
}  
