body{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    text-shadow:#FF0000 0 0 10px;
    color:white;
    font-size:60px
}

.logo{
    width: 50px;
    height: 50px;
}
.main{
    height: 80vh;
    display: flex;
}
.left{
    width: 30%;
}
.content{
    width: 40%;
    height: 80vh;
    /* background-color: aquamarine; */
}
.right{
    width: 30%;
    padding: 30px;
   
}
.list{
    width: 350px;
    height: 45px;
    

}
p{
    text-indent: 2rem;
    
}
.picture{
    width: 410px;
    height: 500px;
    padding: 30px 20px;
}
.case{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

}
